html {
  font-family: helvetica, sans-serif;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h2 {
  font-family: helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#Brushes {
  background-color: mediumspringgreen;
}

#Frames {
  background-color: lightcoral;
}

#Paint {
  background-color: skyblue;
}

.Pricing {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: blue;
}
